
.logo {
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

        &__light {
            color: #FFFFFF;
        }
        &__dark {
            color: black;
        }
}